<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2 md-sidenav-left" layout="column">
  <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2">
		<md-button layout="row" layout-align="center center" class="md-toolbar-tools md-warn" href="https://github.com/janakjobanputra/NotableHealthCodingChallenge">
			<img src="/assets/images/notable-logo.svg" />
		</md-button>
	</md-toolbar>
	<div layout="column" layout-align="start start">
		<!-- <h2 flex="5">Physicians</h2> -->
		<md-button ng-repeat="phys in vm.physicianList" flex class="capitalize align-left" ng-click="vm.selectPhysician(phys)" layout-fill>
			•  {{phys.contactInfo.lastName}}, {{phys.contactInfo.firstName}}
		</md-button>
	</div>
	<span flex></span>
</md-sidenav>

<div layout="column" flex>
	<md-toolbar layout="row" layout-align="center center" style="height:5%; max-height:5%;" layout-padding>
		<h3>Physician Portal</h3>
		<section layout-align="start center" layout-fill flex>
			<md-button hide-gt-sm ng-click="vm.toggleItemsList()" aria-label="Menu">
				<i class="material-icons">menu</i>
			</md-button>
		</section>
		<section layout-align="end center">
			<md-button class="toolbar-button" aria-label="Search">
				<i class="material-icons">search</i>
			</md-button>
			<md-button class="toolbar-button" aria-label="Notifications">
				<i class="material-icons">notifications</i>
				<span class="notifications-label">7</span>
			</md-button>
			<md-button class="toolbar-button" aria-label="Settings" ng-click="vm.toggleLeftSidebar()">
				<i class="material-icons">menu</i>
			</md-button>
		</section>
	</md-toolbar>

	<md-content flex class="md-padding page-content">
		<!-- <div ui-view></div> -->
		<div class="md-whiteframe-z1 panel-widget" layout="column" layout-padding flex>
			<h1 style="margin-bottom:0;">Dr. {{vm.currentPhys.contactInfo.firstName}} {{vm.currentPhys.contactInfo.lastName}}</h1>
			<h3 style="margin-top:0; color:gray;">{{vm.currentPhys.contactInfo.email}}</h3>
			<md-divider></md-divider>
			<div>
				<h3>Appointment List</h3>
				<table class="table" style="margin-bottom:0;">
					<thead class="align-center">
						<tr>
							<th style="width:10%">#</th>
							<th style="width:30%;text-align:left !important;"> Name </th>
							<th style="width:30%;text-align:left !important;"> Time </th>
							<th style="width:30%;text-align:left !important;"> Kind </th>
						</tr>
					</thead>
					<tbody class="align-center">
						<tr ng-repeat="thing in vm.apptList | orderBy : 'id' " >
							<td style="width:5%" class="align-left">
								{{thing.id}}
							</td>
							<td style="width:30%" class="align-left">
								{{thing.name}}
							</td>
							<td style="width:30%" class="align-left">
								{{thing.time}}
							</td>
							<td style="width:30%" class="align-left">
								{{thing.type}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</md-content>

</div>

<md-sidenav md-component-id="right" class="md-whiteframe-z2 md-sidenav-right">
	<md-toolbar>
		<md-toolbar class="md-warn" layout="row" layout-align="center center">
			<img class="img-circle" ng-src="assets/images/feynman.jpg">
			<md-menu md-offset="0 20">
				<md-button class="capitalize" ng-click="$mdOpenMenu()" aria-label="Open menu">
					<span>Richard Feynman</span>
					<i class="material-icons">keyboard_arrow_down</i>
				</md-button>
				<md-menu-content width="3">
					<md-menu-item><md-button ng-click="$mdCloseMenu()" ui-sref="home.profile">Profile</md-button></md-menu-item>
					<md-menu-item><md-button ng-click="$mdCloseMenu()" ui-sref="home.dashboard">Log out</md-button></md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-toolbar>
	</md-toolbar>

	<section>
		<md-toolbar md-theme="grey" class="md-hue-1">
			<div class="md-toolbar-tools">
				<h3>Messages</h3>
			</div>
		</md-toolbar>
		<div ng-include src="'app/views/partials/messages.html'"/>
	</section>
</md-sidenav>
